:root{
    --cor-primaria: #10410f;
    --cor-secundaria: #0440027e;
    --cor-neutra: #fff;
    --cor-neutra-2: #EFF6E6;
    --cor-neutra-3: #0D0D0D;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
}
h1{
    font-size: 2.5rem;
}
.wrapper-content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto 100px;
}
header{
    grid-area: header;
    background-color: var(--cor-neutra);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10%;
}
ul{
    display: flex;
}
.menu-nav ul li{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5%;
   height: 45px;
   width: 200px;
   color: var(--cor-primaria);
   border-radius: 50px;
   background: linear-gradient(145deg, #f0f0f0, #cacaca);
   box-shadow:  2px 1px 10px 1px #bebebe,
             -2px -1px 15px 1px var(--cor-neutra);
}
.menu-nav ul li:hover{
   cursor: pointer;
   background: linear-gradient(145deg, #cacaca, #f0f0f0);
}

main{
    grid-area: main;
    background-color:var(--cor-neutra);
    padding: 5%;
}
.section-intro{
    width: 100%;
    height: 850px;
    display: flex;
}
.box-intro-welcome{
   border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
   height: 70%;
   width: 50%;
   word-wrap: break-word;
   background: #e0e0e0;
   box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}
section+section{
    width: 100%;
    height: 750px;
    border: 1px solid red;
}
.article-intro{
    font-size: 1.15rem;
    padding: 5%;
    text-align: center;
    width: 800px;
    height: auto;
    position: relative;
    /* z-index: 3; */
    top: 10%;
    /* left: 30%; */
    background-color: rgba(255, 255, 255, 0.034);
    color: var(--cor-neutra-3);
}
footer{
    grid-area: footer;
    background-color: var(--cor-primaria);
}